.slider {
  display: grid;
  grid-auto-rows: 1fr;
}

.compteur {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  min-width: 60px;
  max-width: fit-content;

  height: fit-content;
  text-align: center;
  margin: 22px auto auto auto;
  padding: 1px 10px;

  color: $colorTwo;
  background-color: $colorOneOpaciteCinquante;
  border-radius: 20px;
  z-index: 20;

  user-select: none;
}

.btn-nav-slider {
  z-index: 30;
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  width: 30px;
  height: 30px;
  border-radius: 20px;

  color: $colorTwo;
  background-color: $colorOneOpaciteCinquante;

  display: flex;
  align-items: center;

  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

  cursor: pointer;
  user-select: none;

  fill: none;
  stroke: $colorTwo;
  stroke-miterlimit: 2;
  stroke-width: 5px;
}

.previous {
  margin: auto auto auto 22px;
}

.next {
  margin: auto 22px auto auto;
}

.btn-nav-slider:hover {
  background-color: $colorOne;
  transform: scale(1.5);
}

.icon-nav-slider-previous {
  height: 15px;
  margin: auto;
  padding-right: 2px;
}

.icon-nav-slider-next {
  height: 15px;
  margin: auto;
  padding-left: 2px;
}

.media-slider {
  width: 100%;
  min-width: 344px;
  max-width: 1322px;

  height: fit-content;
  max-height: 70vh;

  object-fit: contain;

  background: linear-gradient(135deg, black, 50%, $colorOne);

  grid-row: 1 / 4;
  grid-column: 1 / 2;

  visibility: hidden;

  @media screen and (max-height: 950px) {
    max-height: 90vh;
  }
}

.media-slider-active {
  visibility: visible;
}
