.home {
  .container-slide {
    scroll-snap-align: center;

    width: 100%;
    min-width: 344px;

    min-height: 100%;

    display: flex;
    flex-flow: column nowrap;

    padding: 22px;

    overflow-x: hidden;

    @media screen and (max-height: 950px) {
      scroll-snap-align: none;
    }
  }
  /*main-containers -e*/

  /* template projet -s*/
  .container-projet {
    max-width: 100%;
    max-height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 650px));
    grid-template-rows: repeat(auto-fit, minmax(300px, 50vh));

    justify-content: center;
    align-content: center;

    column-gap: 22px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .preview {
    width: 100%;
    max-width: 1322px;

    height: 100%;

    object-fit: cover;
  }

  .description {
    width: 100%;
    max-width: 650px;

    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    padding: 22px 35px 35px 22px;
    color: $colorOne;
  }

  .description h2 {
    color: inherit;
  }

  .description p {
    color: inherit;
  }

  .description button {
    color: inherit;
  }

  .description button a {
    color: inherit;
    transition: border-bottom 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  /* template projet -e*/
}
