.about {
  background-color: $colorTwo;

  height: 100vh;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  transition: margin-left 0.3s ease-in-out;

  .container-slide-intro {
    scroll-snap-align: start;

    width: 100%;
    min-width: 344px;

    min-height: 100%;

    display: flex;
    flex-flow: column nowrap;

    padding: 22px;
    gap: 22px;

    justify-content: center;
    align-items: center;

    overflow-x: hidden;

    @media (max-width: 1280px) {
      scroll-snap-align: none;
    }

    @media (max-height: 950px) {
      scroll-snap-align: none;
    }
  }

  .container-slide-CV {
    scroll-snap-align: start;

    width: 100%;
    min-width: 344px;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 22px;

    overflow-x: hidden;

    @media (max-width: 1280px) {
      scroll-snap-align: none;
    }

    @media (max-height: 950px) {
      scroll-snap-align: none;
    }
  }

  .portrait {
    width: 100%;
    min-width: 150px;
    max-width: 25vh;

    border-radius: 426px;
  }

  .container-flex-intro {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    min-width: 300px;
    max-width: 874px;

    height: fit-content;

    text-align: center;

    h1 {
      @media screen and (max-width: 675px) {
        font-size: 3rem;
        line-height: 3.5rem;
      }
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .container-CV {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    column-gap: 22px;
    row-gap: 10vh;

    width: 100%;

    max-width: 1322px;

    justify-content: center;

    text-align: center;
  }

  .item-CV {
    @media (max-width: 1280px) {
      grid-column: 1 / -1;

      min-width: 300px;
      max-width: 426px;

      justify-self: center;
    }
  }

  #logo-stamp {
    width: 70px;
    padding-top: 10vh;

    fill: $colorOne;
    margin-bottom: 5vh;
  }

  .tech {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;

    li {
      display: flex;
      height: fit-content;
    }

    &__picto {
      width: 2rem;
      max-width: 1.5rem;
    }

    &__picto--sass {
      width: 1.75rem;
      max-width: 1.75rem;
    }

    &__picto--php {
      width: 2.5rem;
      max-width: 2.5rem;
    }

    &__picto--mysql {
      width: 2.7rem;
      max-width: 2.7rem;
    }
  }

  .button-dl-cv {
    font-weight: 500;
    color: white;
    background: $colorOne;

    height: fit-content;
    border-radius: 20px;
    padding: 1px 10px;
    cursor: pointer;
    place-self: center;
    margin-bottom: 1rem;
  }
}
